body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
}

p {
    margin: 0;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.imagen-perfil {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    max-width: 200px; /* Ajusta el tamaño máximo de la imagen según sea necesario */
    width: 100%;
    height: auto;
}
.contact-info {
    margin-bottom: 20px;
}

.projects h3 {
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

#mi-boton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

#mi-boton:hover {
    background-color: #a0e4e4;
}
